* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footerclass {
  display: flex;
  justify-content: space-around;
  align-items: start;
  background-color: #21201e;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}
.footerclass h2 {
  font-size: 25px;
  text-align: center;
}

.info ul {
  list-style: none;
  margin: 0.7rem 0px;
  display: list-item;
}

.info li {
  margin: 4px 0px;
}
.info a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.info a:hover {
  color: rgb(188, 183, 183);
}

.redes ul {
  display: flex;
  list-style: none;
  margin-top: 2.7rem;
}

.redes a {
  margin: 10px;
  text-align: center;
}
.redes i {
  font-size: 40px;
  width: 45px;
  color: white;
  transition: transform 2s, color 0.3s;
}

.redes i:hover {
  transform: rotate(15deg) scale(1.1);
  color: rgb(188, 183, 183);
}

.horario {
  text-align: center;
}

.horario p {
  width: 225px;
  margin: 56px 0px;
  padding: 0px 0px 0px 14px;
  color: white;
  font-size: 13px;
}

.ubicacion iframe {
  width: 160px;
  height: 110px;
  padding: 10px;
  transition: filter 2s;
  border-radius: 20px;
}

.ubicacion iframe:hover {
  filter: drop-shadow(5px 5px 5px rgb(186, 174, 174));
}

.logo {
  margin: 0px 20px;
}

.logo img {
  width: 300px;
  padding: 60px 0px;
  transition: filter 2s ease;
}

.logo img:hover {
  filter: drop-shadow(6px 6px 6px rgb(100, 95, 95));
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid #333;
  padding-top: 6px;
  font-size: 12px;
  color: #777;
  width: 100%;
}

@media (max-width: 768px) {
  .footerclass {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    margin-bottom: 25px;
  }
  .redes {
    margin-bottom: 20px;
  }

  .footerclass iframe {
    max-width: 90%;
  }
}
