* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-header {
  display: flex;
  background-color: #060505da;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-header img {
  height: 90px;
}

.navbar-header ul {
  display: flex;
  list-style: none;
  color: rgb(255, 255, 255);
  font: 16px Arial;
  margin: 0 10px;
  padding-right: 10px;
}

.navbar-header a {
  display: flex;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Arial;
  margin: 10px 20px;
}

.navbar-header a:hover {
  color: rgb(188, 183, 183);
}
